@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #103, #143);
  color: white;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
  cursor: default;
}

.container {
  display: flex;
  height: 90vh;
  min-height: 600px;
  width: 62%;
  min-width: 896px;
  margin: auto;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.main-content {
  flex: 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.status-log {
  flex: 8;
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: #0004;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.status-log p {
  margin: 12px;
  cursor: text;
}

img {
  width: 96px;
  height: 96px;
  border-radius: 32px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
}
.song_container {
  margin-top: 2rem;
  list-style: none;
}

.song_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left_section {
  display: flex;
  align-items: center;
}
.song_container img {
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.song_container div {
  display: flex;
  flex-direction: row;
  justify-items: left;
  text-align: left;
}
.song_container p {
  margin: 0;
  font-size: 1rem;
}

.duration {
  white-space: nowrap;
  padding-left: 1rem;
  font-weight: 500;
}
button {
  font-size: 1.125rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  color: white;
}

button::before,
button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  transition: opacity 0.2s ease;
}

button::before {
  background: linear-gradient(to right, #70f, #1cc);
  opacity: 1;
}

button::after {
  background: linear-gradient(to right, #a5f, #5cc);
  opacity: 0;
}

button:hover::after {
  opacity: 1;
}

.file-wrapper input {
  font-size: 0;
}

.file-wrapper input::file-selector-button {
  font-size: 1rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: none;
  padding: 0.33rem 0.33rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.file-name {
  color: #1cc;
}

footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  pointer-events: none;
}

footer a {
  pointer-events: auto;
  color: #1cc;
}
